@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>错误</title>
</head>
<body>
    <h2>
        抱歉，处理您的请求时出错。点击<a href ="@Url.Action("Index","Home")">这里</a>返回首页
    </h2>
</body>
</html>