@model School.Models.ztmangerSet
@using (Html.BeginForm())
{
           @Html.ValidationSummary(true)
           <div class="conhead">
                        <p>文章添加</p>
                    <div class="titleedit">
                                
                        <span>题目 : </span>
                        <input name="title" type="text" class ="text" value="" />
                        <span>作者 : </span>
                        <input name="writer" type="text" class ="text" value="" />
                        <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp日期 : </span>
                        <input name="time" class ="text" type="text" value="@DateTime.Now.ToLocalTime()" />
                        <span>附件</span>
                        <input type="text" name="file" class="text" id="xFilePath" value="" />
                        <input type="button"  value="上 传" onclick="BrowseServer()" />
                    </div>
           </div>                                   
           <div>
                <script name ="content" id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
           </div>
           <div class="consub">
           <input type="submit" value="提交" id="button" />
           </div>
}