@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>您没有访问权限</title>
</head>
<body>
    <h2>
        抱歉您没有权限访问该页面.
    </h2>
</body>
</html>